@if (!String.IsNullOrEmpty(TempData["Error"]?.ToString()))
{ 
     <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["Error"]
     </div>
 }

@if (!String.IsNullOrEmpty(TempData["Notification"]?.ToString()))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["Notification"]
    </div>
}